.company{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}

.truck{
    height: 35px;
    margin: auto 10px;
}

.nav-edit{
    background-color: #ffdb58;
    font-size: 18px;
    font-weight: bold;
}

.nav-item-edit:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.about-img {
    border-radius: 1rem;
}

.about-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-edit{
    background-color: #05cdff;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

.btn-edit:hover{
    background-color: #7decf4;
    color:#000;
}

body{
    background-color: #fcf7ec;
}

.p-edit{
    font-weight: 400;
}

.container-edit{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.title-edit{
    font-weight: bolder;
}

.about-header{
    display:flex;
    justify-content: center;
    height: 5vh;
}
.card-edit{
    padding-top : 2rem;
    margin-top: 0;
}
.card-edit:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.icon-edit{
    height: 60px;
    width: 60px;
    border-radius: 2rem;
    background-color: #d5d5d4;
}

#move-info{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.email{
    margin-right: 10px
}
.phone{
    background-color: transparent;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

.phone:hover{
    background-color: transparent;
    color:#000;
    cursor: text;
}

.phone:active{
    background-color: transparent;
    color:#000;
    cursor: text;
}

.phone-edit{
    margin-right: 15px;
}

.contact-container{
    background-color: #ffdb58;
}