.company{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}

.truck{
    height: 35px;
    margin: auto 10px;
}

.nav-edit{
    background-color: aliceblue;
    font-size: 18px;
    font-weight: bold;
}

.nav-item-edit:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}